<div class="container gallery">
    {{#each courseTours}}
   <div class="main-gallery-container">
      <img src="/assets/media/images/{{tours_Image_1}}" loop controls class="main-gallery"></img>
   </div>

   <div class="gallery-list-container">

      <div class="list active">
         <img src="/assets/media/images/{{tours_Image_1}}" class="list-gallery"></img>
         <h3 class="list-title">Ảnh 1</h3>
      </div>

      <div class="list active">
         <img src="/assets/media/images/{{tours_Image_2}}" class="list-gallery"></img>
         <h3 class="list-title">Ảnh 2</h3>
      </div>

      <div class="list active">
         <img src="/assets/media/images/{{tours_Image_3}}" class="list-gallery"></img>
         <h3 class="list-title">Ảnh 3</h3>
      </div>

      <div class="list active">
         <img src="/assets/media/images/{{tours_Image_4}}" class="list-gallery"></img>
         <h3 class="list-title">Ảnh 4</h3>
      </div>
      {{/each}}

   </div>

</div>

<!-- tours section starts  -->

<div class="container tours">

   <h1 class="heading" data-aos="zoom-out">popular places</h1>

   <section class="grid">
      {{#each courseTours}}
         <div class="box" data-aos="fade-up">
            <div class="price"><i class="fas fa-dollar-sign"></i><span>{{tours_Price}}</span></div>
            <img src="/assets/media/images/{{tours_Image}}.jpg" class="image" alt="">
            <h3 class="name">{{tours_Name}}</h3>
            <p class="address">abc</p>
            <a href="/course/{{tours_Slug}}" class="btn">Xem Tours</a>
         </div>
      {{/each}}
   </section>

</div>

<!-- tours section ends -->
